{{ partial "head.html" . }}

<main class="index">
  <section class="article-list">
    <h1>{{$.Title}}</h1>

    {{ range (where (where .Site.RegularPages "Section" "blog") "Params.nohtml" "!=" "true") }}
    {{- if .OutputFormats.Get "html" }}
    <div class="article">
      <span class="date">{{.Date.Format "January 2, 2006"}}</span>
      <a href="{{.Permalink}}">{{.Title}}</a>
    </div>
    {{ end }}
    {{ end }}
  </section>

  <aside>
    <img src="https://dozheiny.net/avatar.jpg" alt="My avatar: an anime girl with little smile and green hair"
      width="148" height="148" />

    <div class="text-center">
      <a class="rss" href="/blog/index.xml">rss</a>
      .
      <a class="html" href="/about.html">about me</a>
    </div>
    <dl class="external-links">
      <dt>email</dt>
      <dd><a href="mailto:dozheiny@gmail.com">dozheiny@gmail.com</a></dd>
      <dt>sourcehut</dt>
      <dd><a href="https://sr.ht/~iliya">~iliya</a></dd>
      <dt>github</dt>
      <dd><a href="https://github.com/dozheiny">dozheiny</a></dd>
      <dt>cyberplace</dt>
      <dd><a href="https://cyberplace.social/@iliya">@iliya</a></dd>
      <dt>linkedin</dt>
      <dd><a href="https://linkedin.com/in/dozheiny">Iliya Aghamajidi</a></dd>
    </dl>

    <small>
      I'm iliya, Known as Dozheiny.
      I write code.
    </small>
  </aside>
</main>
